.slide-pic {
    display: none;
    max-width: 400px;
}
.slide-pic:first-of-type {
    display:block;
}
.slide-cap {
    display: none;
}
/* Apparently the reason this works is that it's immediately wrapped up in a div. 
Initially used visibility property but opted against it because of every text display taking up space*/
.slide-cap:first-of-type {
    display: block;
}
* {
    border: 1px solid black;
}