body {
    background-image: rgb(2,0,36);
    background-image: linear-gradient(165deg, rgba(2,0,36,1) 0%, rgba(93,9,121,1) 50%, rgba(81,0,255,1) 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bodybox {
    max-width: 800px;
}
.content {
    background-color: grey;
}
h1 {
    background-color: blue;
}
.navbar {
    background-color: indigo;
    padding: 1rem;
}
.linklist {
    background-color: forestgreen;
}